 h1 {
    color: green;
    font-family: 40px;
}
h2 {
    color: green;
    font-family: 40px;
}
p{
    color:rebeccapurple;
    font-family: 40px;
}
ul{
    color: rebeccapurple;
    font-family: 40px;
}
body {
    background-color: rgb(149, 230, 129);